<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <main>
        <h1>{{ post.title }}</h1>
        <em>Published: {{ post.published_date }}</em>
        {% if post.updated_date %}
        <em>Updated: {{ post.updated_date }}</em>
        {% endif %}
        <p>{{ post.summary }}</p>
        {{ body_html | safe }}
        <p><a href="/blog/">Back to blog</a></p>
    </main>
</body>
</html>